<div class='custom-container'>
  <div class='row custom-row'>
    <div class='col-md-4'>
    </div>
    <div class='col-md-4'>
      <div class="row">
        <div class="col-9">
          <div class="form-group">
            <input class="form-control" id="wkt" rows="3" [(ngModel)]="polygonString" placeholder="Wyszukaj przy użyciu WKT">
          </div>
        </div>
        <div class="col-3">
            <button class="mt-1 btn btn-block btn-primary" (click)="onPolygonClickMe()">Szukaj</button>
        </div>
      </div>
      <div class="text-center">
        <h2>
          Lub
        </h2>
      </div>
      <div class="mt-4">
        <div class="search-header">
          <div class="row">
            <div class="col-9">
              <div class="form-group">
                <input class="form-control" id="nominatim" rows="3" [(ngModel)]="searchString"
                  placeholder="Wyszukaj przy użyciu Nominatim">
              </div>
            </div>
            <div class="col-3">
              <button class="btn btn-block btn-primary" (click)="askForBoundaries()">Szukaj</button>
            </div>
          </div>
        </div>
        <div>
          <div *ngFor="let result of resultList">
            <div class="item" (click)="selectBoundary(result)">
              {{result.display_name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
    </div>

  </div>
</div>