<h2 class='m-2'>
  <span *ngIf="boundary != null">
    {{boundary.display_name}}
  </span>
  <span *ngIf="wktBoundary != null">
    Ręcznie wprowadzone dane
  </span>
</h2>
<div class="form-group">
  <div class="row">
    <div class="col-sm">
      <label for="street_name">Nazwa: </label>
      <input class="form-control" id="street_name" rows="3" [(ngModel)]="searchString">
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="speed_limit">Dopuszczalna prędkość</label>
        <select class="form-control" id="speed_limit" [(ngModel)]="maxspeed">
          <option></option>
          <option>20</option>
          <option>30</option>
          <option>40</option>
          <option>50</option>
          <option>60</option>
          <option>70</option>
          <option>80</option>
          <option>90</option>
          <option>100</option>
          <option>120</option>
          <option>140</option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="lane_count">Ilość pasów ruchu</label>
        <select class="form-control" id="lane_count" [(ngModel)]="lanes">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3 i więcej</option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="surface">Nawierzchnia</label>
        <select class="form-control" id="surface" [(ngModel)]="surface">
          <option></option>
          <option>asphalt</option>
          <option>concrete</option>
          <option>paved</option>
          <option>unpaved</option>
          <option>compacted</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="oneway">
        <label class="form-check-label" for="defaultCheck1">
          Jednokierunkowa
        </label>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="fetchData()">Filtruj</button>
</div>
<div *ngIf="!waiting">
  <nav aria-label="...">
    <ul class="pagination justify-content-end">
      <li class="page-item" [ngClass]="{'button-hidden': page == 1}" (click)="setPage(page-1)">
        <a class="page-link" tabindex="-1">Poprzednia</a>
      </li>
      <li class="page-item" [ngClass]="{'active': firstPage == page}" (click)="setPage(firstPage)">
        <a class="page-link" tabindex="-1">
          {{firstPage}}
        </a>
      </li>
      <li class="page-item" [ngClass]="{'active': secondPage == page}" (click)="setPage(secondPage)">
        <a class="page-link" tabindex="-1">
          {{secondPage}}
        </a>
      </li>
      <li class="page-item" [ngClass]="{'active': thirdPage == page}" (click)="setPage(thirdPage)">
        <a class="page-link" tabindex="-1">
          {{thirdPage}}
        </a>
      </li>
      <li class="page-item" (click)="setPage(page+1)">
        <a class="page-link" tabindex="-1">Następna</a>
      </li>
    </ul>
  </nav>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Nawierzchnia</th>
        <th scope="col">Ilość Pasów</th>
        <th scope="col" class="text-center">Dopuszczalna prędkość</th>
        <th scope="col" class="text-center">Jednokierunkowa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of noderesult; index as i">
        <th scope="row">{{(page - 1) * 20 + i + 1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.surface}}</td>
        <td>{{item.lanes}}</td>
        <td class='align-middle text-center'>
          <span *ngIf="item.maxspeed">
            <img class="sign-icon" src="assets/images/B-33_{{item.maxspeed}}.png">
          </span>
          <span *ngIf="!item.maxspeed">
            -
          </span>
        </td>
        <td class='align-middle text-center'>
          <span *ngIf="item.oneway == 'yes'">
            <img class="sign-icon" src="assets/images/D-3.png">
          </span>
          <span *ngIf="!(item.oneway == 'yes')">
            -
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination justify-content-end">
      <li class="page-item" [ngClass]="{'button-hidden': page == 1}" (click)="setPage(page-1)">
        <a class="page-link" tabindex="-1">Poprzednia</a>
      </li>
      <li class="page-item" [ngClass]="{'active': firstPage == page}" (click)="setPage(firstPage)">
        <a class="page-link" tabindex="-1">
          {{firstPage}}
        </a>
      </li>
      <li class="page-item" [ngClass]="{'active': secondPage == page}" (click)="setPage(secondPage)">
        <a class="page-link" tabindex="-1">
          {{secondPage}}
        </a>
      </li>
      <li class="page-item" [ngClass]="{'active': thirdPage == page}" (click)="setPage(thirdPage)">
        <a class="page-link" tabindex="-1">
          {{thirdPage}}
        </a>
      </li>
      <li class="page-item" (click)="setPage(page+1)">
        <a class="page-link" tabindex="-1">Następna</a>
      </li>
    </ul>
  </nav>
</div>
<div *ngIf="waiting" class="text-center loading-screen">
  <div>
    <h4>
      Wczytywanie danych z bazy...
    </h4>
  </div>
  <div class="align-middle">
    <div class="loader"></div>
  </div>
</div>