.sign-icon {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-hidden {
    display: none;
}

.loadnig-screen {
    width: 100%;
    justify-content: center;
}

.loader {
    border: 3px solid #f3f3f3; 
    border-top: 3px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: calc(50% - 25px);
    margin-top: 15px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #container
  {
    align-items: flex-start;
  }


  #filter
  {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    width: 150px; 
    position: -webkit-sticky;
    position: sticky;
  }
  
  #context
  {
    float: left;
  }


  