.sign-icon {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-hidden {
    display: none;
}

.loadnig-screen {
    width: 100%;
    justify-content: center;
}

.loader {
  border: 3px solid #f3f3f3; 
  border-top: 3px solid #3498db; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-top: 15px;
  animation: spin 1s linear infinite;
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#filter {
  padding-left: 0;
}

.filter-header {
  width: 100%;
  height: 50px;
}

.filter-title {
  vertical-align: middle;
  line-height: 50px;  
}
  
#context
{ 
  padding-right: 0;
  height: 500px;
  min-height: 378px;
  overflow: auto;
}

.clickable-row:hover {
  background-color: #007bff;
  cursor: pointer;
  color: white;
}

#map-wrapper {
  height: 300px;
}




  